.auth__inputs {
  border: none;
  outline: none;
  margin: 0;
  padding: 54px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .auth__inputs {
    padding: 40px 0 0 0;
  }
}
